<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qiuwanchi.cms.dao.LeavingMessageMapper" >
  
  <select id="listByPage" resultType="cn.qiuwanchi.cms.entity.LeavingMessage">
  	select
	  m.id,
	  m.name,
	  m.telephone,
	  m.message,
	  m.create_time,
	  m.update_time
  	from leaving_message m
  	order by create_time desc
  </select>
</mapper>