@charset "utf-8";
@import url("../layui/css/layui.css");
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1
}

a p {
	color: #555;
}

.container {
	max-width: auto;
	margin: 0 auto;
	font-size: 14px;
	color: #545454;
	font-family: '微软雅黑';
	margin: 0 8%;
}

.nav .show {
	display: inline-block;
}

.nav .hiden {
	display: none;
}


/* 导航栏 */

.nav {
	width: 100%;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 111;
	border-bottom: 1px solid #e5e5e5;
}

.nav .container {
	position: relative;
}

.navimg {
	width: 200px;
	position: absolute;
}

.navimg img {
	width: 100%;
}

.navul {
	text-align: center;
	padding-top: 18px;
	padding-left: 200px;
	padding-right: 160px;
}

.nav ul {
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
}

.nav ul li {
	padding: 15px;
	display: inline-block;
}

.nav ul li a {
	color: white;
	padding-bottom: 6px;
	text-decoration: none;
	font-size: 16px;
	color: #000;
}

.nav ul .active,
.nav ul li:hover {
	border-bottom: 3px solid #297ec2;
}

.nav ul .active a {
	color: #297ec2;
}

.nav ul li a:hover {
	color: #297ec2;
}

.nav .kftel {
	position: absolute;
	right: 0;
	width: 180px;
	top: 12px;
}

.nav .kftel h2 {
	font-size: 24px;
	color: #297ec2;
	text-align: right;
	font-style: italic;
}

.nav .kftel span {
	text-align: right;
	font-size: 16px;
	color: #999;
	display: block;
}

.nav .logo {
	height: 80px;
	width: 200px;
}

.banner {
	margin-bottom: 80px;
	margin-top: 80px;
}

.banner img {
	width: 100%
}


/*多媒体展厅项目案例*/

.main-title {
	height: 120px;
	text-align: center;
	line-height: 120px;
	margin-top: 50px;
}

.main-title img {
	height: 60px;
}

.layui-tab-title {
	border-bottom: none;
	margin-top: 40px;
	overflow: inherit !important;
	height: auto;
	
}
.layui-tab-bar {
	display: none;
}
.layui-tab-title li {
	height: 40px;
	padding: 0 25px;
	line-height: 40px;
	border-radius: 40px;
	background-color: #f5f5f5;
	color: #666;
	font-size: 16px;
	margin-right: 10px;
	display: block;
	float: left;
	margin-bottom: 10px;
}

.layui-tab-brief>.layui-tab-title .layui-this {
	color: #fff;
	background-color: #297ec2;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after {
	border: none;
	border-radius: 0;
	border-bottom: none;
}

.layui-tab-content {
	padding: 0;
}

.layui-tab-item {
	padding: 20px 0;
	padding-top: 0;
}

.pic_list li {
	padding: 10px;
}

.pic_list li .main_img {
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;
}

.pic_list li .main_img img {
	width: 100%;
}

.pic_list li span {
	font-family: arial;
	font-size: 20px;
	color: #9d9d9d;
}

.pic_list li h1 {
	font-size: 16px;
	color: #000;
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin-top: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.pic_list li p {
	font-size: 14px;
	display: block;
	height: 40px;
	overflow: hidden;
	margin-top: 5px;
	padding-right: 10px;
	line-height: 22px;
}

.pic_list li:hover h5 {
	text-decoration: underline;
}

.more {
	font-size: 16px;
	border: 1px solid #d9d9d9;
	border-radius: 50px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	cursor: pointer;
}

.more a {
	color: #aaa;
}

.more:hover {
	background-color: #297ec2;
}

.more:hover a {
	color: #fff;
}

.index_main {
	background: url(../images/map_bg.png) no-repeat center top;
}

.jstext {
	text-align: center;
	padding-bottom: 40px;
}

.jstext h1 {
	font-size: 28px;
	color: #333;
}

.jstext h1 strong {
	font-size: 50px;
	color: #ff831b;
}

.jstext ul {
	padding-top: 50px;
}

.jstext ul li {
	width: 16.666%;
	float: left;
	text-align: center;
}

.jstext ul li div {
	width: 140px;
	height: 140px;
	line-height: 140px;
	background: #fff;
	text-align: center;
	margin: 0 auto;
	border: 3px solid #aaa;
	border-radius: 150px;
}

.jstext ul li img {
	width: 90px;
	height: 90px;
	margin: 0 auto;
}

.jstext ul li .imgx2 {
	display: none;
}

.jstext ul li:hover .imgx2 {
	display: block;
	margin-top: 27px;
}

.jstext ul li:hover .imgx1 {
	display: none;
}

.jstext ul li h3 {
	color: #aaa;
	font-size: 18px;
	padding-top: 10px;
}

.jstext ul li:hover div {
	border-color: #297ec2;
}

.jstext ul li:hover h3 {
	color: #297ec2;
}


/*热门产品*/

.layui-tab-title li {
	border: 1px solid #e5e5e5;
}

.goods_main .layui-tab-title {
	overflow: inherit !important;
	height: auto;
}

.goods_main .layui-tab-title li {
	display: block;
	float: left;
	margin-bottom: 10px;
}

.goods_main .layui-tab-bar {
	display: none;
}

.goods_main .pic_list li h1 {
	font-size: 16px;
	text-align: center;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-weight: normal;
}

.title_hot {
	margin-bottom: 30px;
}

.title_hot img,
.title_video img {
	height: 60px;
}

.main_video {
	padding-bottom: 40px;
}

.title_video {
	margin-bottom: 10px;
}

.main_video li a {
	border: 1px solid #111;
	display: block;
}

.main_video li .video_padding {
	padding: 20px;
	padding-top: 5px;
	padding-right: 10px;
}

.main_video li a p {
	color: #666;
}

.main_video li h1 {
	font-size: 16px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	display: block;
	margin-top: 0;
}

.main_video li:hover h1 {
	text-decoration: underline;
}

.main_ys {
	background: url(../images/ys_bg.jpg) no-repeat center;
	background-size: cover;
	padding: 10px 0;
	padding-bottom: 60px;
}

.ys_p {
	color: #bdbdbd;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	display: block;
	padding: 40px;
	padding-top: 10px;
}

.ys_list {
	padding-top: 20px;
}

.ys_list li {
	float: left;
	width: 20%;
	text-align: center;
}

.ys_list li .ys_tnt {
	padding: 20px;
}

.ys_list li .ys_img {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	text-align: center;
	line-height: 150px;
	overflow: hidden;
	margin: 0 auto;
}

.ys_list li .ys_img img {
	width: 100%;
}

.ys_list li .ys_tnt h3 {
	font-size: 18px;
	color: #fff;
	padding-top: 15px;
}

.ys_list li .ys_tnt span {
	color: #acacac;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 2px;
}

.main_ys .more {
	margin-top: 50px;
}

.main_ys .more:hover {
	background-color: rgba(234, 234, 234, 0.1);
}

.main_project {
	padding: 40px 0;
}

.main_project h4 {
	color: #a7a7a7;
	font-size: 16px;
	text-align: center;
	display: block;
	padding-bottom: 30px;
}

.main_project .pic_list li p {
	height: 66px;
	color: #8d8d8d;
}

.main_project .pic_list h1 {
	font-size: 16px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	display: block;
}

.main_project .pic_list li:hover h1 {
	text-decoration: underline;
}

.main_wh {
	margin-top: 40px;
	background: url(../images/wh_bg.jpg) no-repeat center;
	background-size: cover;
	padding: 10px 0;
	padding-bottom: 60px;
}

.main_wh h2 {
	color: #fff;
	font-size: 22px;
	text-align: center;
}

.wh_list {
	padding: 50px 0;
}

.wh_tnt {
	padding: 0 10px;
	margin-bottom: 15px;
}

.wh_tnt a {
	display: block;
	border: 1px solid #fff;
	border-radius: 300px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 200px;
	height: 200px;
}

.wh_tnt img {
	width: 100%;
}

.wh_tnt div {
	overflow: hidden;
	border-radius: 180px;
	height: 199px;
	width: 199px;
	border: 1px solid #fff;
	position: relative;
	z-index: 20;
}

.wh_tnt h3 {
	position: absolute;
	top: 0;
	line-height: 200px;
	color: #fff;
	font-size: 18px;
	display: block;
	z-index: 22;
	width: 200px;
	text-align: center;
}

.main_news {
	padding-bottom: 60px;
}

.main_news .layui-tab-title {
	padding-bottom: 20px;
}

.main_news_img {
	padding-right: 20px;
	padding-bottom: 10px;
}

.main_news_img img {
	width: 100%;
}

.main_news .layui-tab-content {
	padding: 10px 0;
}

.main_news .news_list_li {
	height: 100px;
	position: relative;
	margin: 10px 0;
	border-bottom: 1px solid #eee;
}

.main_news .news_list_li:first-child {
	margin-top: 0;
}

.main_news .news_list_li .rl {
	background: #cacaca;
	color: #fff;
	text-align: center;
	width: 90px;
	height: 90px;
	float: left;
}

.main_news .news_list_li:first-child .rl {
	background: #297ec2;
}

.main_news .news_list_li .rl span {
	font-size: 30px;
	display: block;
	padding-top: 16px;
}

.main_news .news_list_li .rl p {
	font-size: 12px;
}

.main_news .news_list_li .text {
	position: absolute;
	padding-left: 102px;
}

.main_news .news_list_li h3 {
	font-size: 16px;
	display: block;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #000;
}

.main_news .news_list_li h4 {
	color: #666;
	padding-top: 10px;
	display: block;
	;
	height: 44px;
	line-height: 22px;
	overflow: hidden;
}

.main_news .news_list_li a:hover {
	text-decoration: underline;
}

#footer {
	background: #282e31;
	width: 100%;
	min-height: 300px;
}

#footer a {
	color: #aaa;
	font-size: 14px;
}

#footer h2 {
	font-size: 18px;
	color: #fff;
	display: block;
	padding-bottom: 30px;
}

.footer {
	padding-top: 40px;
	color: #fff;
}

.footer_l ul {
	border-right: 1px solid #3f484d;
}

.footer_l li {
	width: 16.66%;
	float: left;
}

.footer_l li a {
	display: block;
	padding: 0 10px;
	line-height: 26px;
	text-align: center;
}

.footer_l li .this {
	border-right: 1px solid #3f484d;
	line-height: 16px;
	display: block;
	margin-bottom: 10px;
}

.footer_l li:last-child .this {
	border-right: none;
}

.footer_l a:hover {
	text-decoration: underline;
}

.footer .middle {
	border-right: 1px solid #3f484d;
}

.footer_m {
	padding: 0 40px;
	color: #a3a5a6;
	padding-right: 0;
}

.footer_m .contact_l {
	padding-bottom: 20px;
	background: url(../images/icon1.png) left no-repeat;
	padding-left: 60px;
	padding-top: 10px;
}

.footer_m h5 {
	font-size: 16px;
	font-weight: bold;
}

.footer_m .contact_r {
	padding-bottom: 20px;
	background: url(../images/icon2.png) left no-repeat;
	padding-left: 60px;
	padding-top: 20px;
}

.footer_r {
	padding-left: 40px;
}

.footer_r li {
	float: left;
	width: 85px;
	padding-right: 20px;
}

.footer_r li img {
	width: 100%;
}

.footer_r li p {
	text-align: center;
	color: #a3a5a6;
	padding-top: 6px;
}

.footer_link {
	border-top: 1px solid #3f484d;
	margin-top: 30px;
	padding-top: 20px;
}

.footer_link p {
	color: #fff;
	font-size: 16px;
	padding-bottom: 10px;
}

.footer_link a {
	display: inline-block;
	color: #fff;
	margin: 4px 8px;
}

.footer_link a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer_bot {
	text-align: center;
	padding: 20px;
	color: #9d9d9d;
	border-top: 1px solid #3f484d;
	margin-top: 30px;
	padding-right: 20px;
}

.kf {
	position: fixed;
	top: 35%;
	right: 0;
}

.kf ul li {
	height: 80px;
	width: 80px;
	text-align: center;
	background-color: #6b6b6b;
	margin-bottom: 5px;
}

.kf ul .this {
	background-color: #297ec2;
}

.kf ul li a p {
	color: #fff;
	padding-top: 4px;
}

.kf ul li .layui-icon {
	display: block;
	font-size: 40px;
	color: #e5e5e5;
	padding-top: 6px;
}

.kf ul li .layui-icon-top {
	padding-top: 12px;
	font-size: 50px;
}

.kf ul li .layui-icon-survey {
	font-size: 36px;
	padding-top: 10px;
}

.kf img {
	padding-top: 10px;
}

.kf ul .top {
	cursor: pointer;
}

.kf ul .top img {
	margin-top: 8px;
	height: auto;
}

.kf ul li:hover {
	background-color: #297ec2;
}


/*联系我们*/

.bannerx {
	width: 100%;
}

.bannerx img {
	width: 100%;
}

#contact .contact_top li {
	padding: 10px;
	padding-left: 20px;
}

#contact .contact_top {
	padding: 40px 30px;
	border-bottom: 1px solid #e5e5e5;
}

#contact .contact_top ul {
	padding: 20px 0;
}

#contact .contact_top i {
	font-size: 40px;
	display: block;
	float: left;
	width: 40px;
	color: #1490f3;
}

#contact .contact_top .fa-qq {
	font-size: 30px;
}

#contact .contact_top .fa-envelope {
	font-size: 30px;
}

#contact .contact_top p {
	display: block;
	width: 80%;
	float: left;
	font-size: 16px;
	color: #666;
	line-height: 24px;
	padding-top: 5px;
	padding-left: 10px;
}
#contact .map_img img {
	width: 100%;
}

.main {
	border: 1px solid #e5e5e5;
	margin-top: 15px;
	padding-bottom: 30px;
}

.position {
	background-color: #f5f5f5;
	line-height: 40px;
	padding: 5px 15px;
	color: #999;
}

.position a {
	padding: 0 8px;
}

.position span {
	padding-left: 8px;
	color: #297ec2;
}

.contact_main {
	padding: 20px 30px;
}

.contact_main input {
	margin-bottom: 15px;
}

.contactx_l {
	padding-right: 20px;
}

.contactx_l p {
	font-size: 18px;
	color: #000;
	padding: 20px 0;
}

.contact-btn {
	width: 100%;
	margin-top: 15px;
	background-color: #297ec2;
}

.contactx_r {
	padding-top: 40px;
}

.contactx_r ul {
	width: 280px;
	margin: 0 auto;
}

.contactx_r h2 {
	font-size: 28px;
	display: block;
	padding: 20px 0;
	text-align: center;
}

.contactx_r li {
	width: 120px;
}


/*新闻资讯*/

.page_nav {
	padding: 30px;
	padding-bottom: 10px;
}

.page_nav span {
	height: 40px;
	padding: 0 25px;
	line-height: 40px;
	border-radius: 40px;
	background-color: #f5f5f5;
	color: #666;
	font-size: 16px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}

.page_nav .active {
	color: #fff;
	background-color: #297ec2;
}

.page_nav .none {
	background-color: #f5f5f5;
	color: #666;
}

.page_nav_news {
	padding: 20px
}

.page_nav_news span {
	display: block;
	line-height: 46px;
	border-bottom: 1px dotted #e5e5e5;
	cursor: pointer;
	padding-left: 10px;
	font-size: 16px;
	font-size: 14px;
}

.page_nav_news .active {
	color: #297ec2;
}

.newsx_main .news_list li {
	padding: 20px;
	border-bottom: 1px dotted #e5e5e5;
	position: relative;
}

.newsx_main .news_list {
	margin-bottom: 20px;
}

.newsx_main li:hover .news_list_data strong {
	color: #333;
}

.newsx_main .news_list_data {
	width: 80px;
	position: absolute;
	left: 10px;
	top: 20px;
	text-align: center;
}

.newsx_main .news_list_data strong {
	font-size: 22px;
	display: block;
	color: #999;
	font-weight: normal;
}

.newsx_main .news_list_data span a {
	font-size: 20px;
	display: block;
	width: 36px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-top: 10px;
	color: #999;
}

.newsx_main .news_list_data span:hover a {
	background: #000;
	color: #fff;
}

.newsx_main .news_list_img {
	float: right;
	width: 20%;
}

.newsx_main .news_list_img img {
	width: 100%;
}

.newsx_main .news_list_text {
	float: left;
	width: 65%;
	padding-right: 2%;
	margin-left: 90px;
}

.newsx_main .news_list_text h1 {
	font-size: 16px;
	color: #000;
	display: block;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
}

.newsx_main .news_list_text p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 22px;
	height: 44px;
	color: #666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
}

.newsx_main li:hover h1 {
	color: #297ec2;
}

#paging {
	text-align: right;
	padding-right: 0;
	margin-top: 0px;
}

.newsx_detail_l {
	border: 1px solid #e5e5e5;
	margin-top: 15px;
	padding-bottom: 60px;
}

.newsx_detail_l h1 {
	font-size: 28px;
	color: #000;
	padding-bottom: 10px;
	line-height: 48px;
	text-align: center;
}

.newsx_detail_l .news_data {
	color: #999;
	text-align: center;
	padding-bottom: 10px;
}

.newsx_detail_l p {
	font-size: 16px;
	line-height: 24px;
	color: #666;
	padding: 10px 0;
	text-indent: 2em;
	font-size: 14px;
}

.newsx_detail_l img {
	padding: 10px 0;
}

.rightList {
	border: 1px solid #e5e5e5;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.rightList h3 {
	background-color: #f7f7f7;
	display: block;
	height: 40px;
	color: #666;
	font-size: 16px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.rightList h3 span {
	display: block;
	width: 3px;
	background-color: #297ec2;
	height: 20px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}

.rightList h3 strong {
	display: block;
	font-weight: normal;
	float: left;
	line-height: 40px;
}

.rightList li {
	padding: 0 10px;
	line-height: 36px;
	display: block;
	height: 36px;
	list-style-type: circle;
	border-bottom: 1px dotted #e5e5e5;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rightList li:last-child {
	border-bottom: none;
}

.bq {
	padding: 10px;
	padding-right: 0px;
}

.bq span {
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 28px;
	margin-right: 6px;
	background-color: #d6e2eb;
	margin-bottom: 8px;
}

.bq a {
	color: #5187b2;
}

.article {
	padding: 0px 45px;
	padding-right: 20px;
}

.article div {
	width: 50%;
	float: left;
	font-size: 14px;
}

.article div a {
	color: #297ec2;
	padding-right: 10px;
}

.article div a:hover {
	text-decoration: underline;
}

.hot_tag {
	padding: 0 20px;
}

.hot_tag span {
	display: block;
	float: left;
	line-height: 20px;
	padding: 3px 10px;
	width: 70px;
	text-align: right;
}

.hot_tag strong {
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	line-height: 20px;
	padding: 3px 15px;
	color: #999;
	font-weight: normal;
	margin-bottom: 5px;
	margin-right: 5px;
}

.hot_tag strong a {
	color: #999;
}

.share {
	padding: 10px 20px;
}

.share span {
	padding: 3px 10px;
	width: 70px;
	text-align: right;
	display: block;
	float: left;
	line-height: 36px;
}

.share div {
	height: 36px;
}

.share div img {
	width: auto;
	height: 36px;
	padding: 0;
}

#case,
#goods,
#news,
#contact,
#about {
	background: #f9f9f9;
	padding-bottom: 50px;
	margin-top: 80px;
}

#case .main,
#goods .main,
#news .newsx_main,
.newsx_detail_l,
.rightList,
#contact .main {
	background: #fff;
}

#case .main {
	border: none;
	background: none;
}

#case .page_nav span {
	border-radius: 0;
	background: #fff;
	border: 1px solid #f5f5f5;
	height: 44px;
	line-height: 44px;
	padding: 0 30px;
}

#case .page_nav .active {
	color: #fff;
	background-color: #297ec2;
}

#case .page_nav {
	padding: 0;
	padding-bottom: 5px;
	padding-top: 10px;
}

#case .position {
	border-bottom: 1px solid #e5e5e5;
}

.case_list {
	padding: 10px 0px;
	padding-top: 0;
	margin: 0 -5px;
}

.case_list li {
	border-bottom: none;
	padding: 0;
}

.case_list li a {
	display: block;
	background-color: #fff;
	margin: 5px;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px dotted #e5e5e5;
}

.case_list li img {
	width: 100%;
}

.case_list li h2 {
	display: block;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	margin-top: 10px;
}


/*商品详细*/

.goods_detail {}

.detail1 {
	padding: 30px;
}

.detail1_l img {
	width: 100%;
}

.detail1_r {
	padding-left: 30px;
}

.detail1_r h1 {
	color: #000;
	font-size: 24px;
	padding-bottom: 10px;
	line-height: 40px;
}

.detail1_r h2 {
	font-size: 16px;
}

.detail1_r h2 span {
	color: red;
}

.detail1_r p {
	font-size: 16px;
	line-height: 26px;
	padding-top: 8px;
}

.getPrice {
	height: 50px;
	width: 180px;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	background-image: linear-gradient(#459ce2, #297ec2);
	margin-top: 15px;
	border-radius: 6px;
}

.getPrice:hover {
	background-image: linear-gradient(#297ec2, #459ce2);
}

.getPrice a {
	color: #fff;
}

.detail2 {
	background: url(../images/hot_bg.jpg) no-repeat center;
	background-size: cover;
	padding: 40px 20px;
	margin-top: 20px;
	 padding-bottom: 10px;
}

.detail2_text {
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 20px;
}

.detail2_text h2 {
	font-size: 28px;
}

.detail2_text span {
	font-size: 16px;
	padding-top: 8px;
	display: block;
	color: #999;
}

.detail2_ul {
	padding: 20px 0;
}

.detail2_ul li {
	float: left;
	width: 25%;
	padding-bottom: 20px;
}

.detail2_ul li a {
	display: block;
	padding: 15px;
}

.detail2_ul li a img {
	width: 100%;
}
.detail2_ul h3{ color: #fff; font-size: 16px; text-align: center; display: block;padding: 5px 0; padding-top: 8px;}
.detail2_ul p{ display: block; color: #ddd; font-size: 14px; line-height: 22px;}
.detail1_3 {
	margin: 40px 20px;
	padding: 0;
	min-height: 300px;
}

.detail1_3 .layui-tab-title li {
	display: block;
	margin-bottom: 10px;
	border-radius: 0;
	height: 50px;
	line-height: 50px;
}

.detail1_3 .layui-tab-title {
	margin-top: 0;
	height: auto;
}

.detail1_3 .layui-tab-item {
	background: #f1f6f9;
}

.detail1_3 .layui-tab-content {
	padding-left: 10px;
}

.detail1_3_l {
	padding: 0 20px;
}

.detail1_3_l img {
	width: 100%;
}

.detail1_3_r {
	padding: 20px;
	padding-left: 0;
	padding-top: 0;
}

.detail1_3_r p {
	line-height: 26px;
	font-size: 16px;
}

.detail1_3 .more {
	margin-left: 0;
	background-color: #297ec2;
}

.detail1_3 .more a {
	color: #fff;
}

.detail4 .pic_list {
	padding: 0 20px;
}

.detail4 .pic_list li {
	margin-bottom: 15px;
}

.detail4 .pic_list li h5 {
	margin-top: 0;
}

.detail4 .pic_list li .main_img {
	height: auto;
	line-height: normal;
}

.detail4 li a {
	border: none;
	background: #f5f5f5;
}

.detail4 li h2 {
	font-weight: normal;
	color: #666;
	display: block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size: 16px;
}

.detail4 li:hover h2 {
	color: #297ec2;
}

.detail4 .more {
	margin-top: 0;
}

.detail5 {
	background: url(../images/wh_bg.jpg) no-repeat center;
	background-size: cover;
	padding: 60px 40px;
}

.detail5 h2 {
	text-align: center;
	font-size: 28px;
	color: #fff;
}

.detail5 span {
	color: #999;
	text-align: center;
	display: block;
	font-size: 16px;
}

.detail5 .layui-input-inline {
	padding: 0 10px;
	margin-bottom: 10px;
}

.goods_detail_input {
	margin-top: 50px;
}

.detail5 .layui-btn {
	width: 30%;
	margin-top: 20px;
	background-color: #297ec2;
}

.detail6 {
	padding: 15px 10px;
	padding-bottom: 0;
}

.detail6 .rightList {
	margin: 10px;
}

.layui-laypage a,
.layui-laypage span {
	font-size: 14px;
	height: 34px;
	line-height: 34px;
}

.layui-laypage-next em,
.layui-laypage-prev em {
	font-size: 14px;
}

.layui-laypage a:hover {
	color: #297ec2
}

.about,
#case .goodsx {
	background: #fff;
	border: 1px solid #ddd;
}

.about_l {
	width: 40%;
	float: left;
	padding-right: 20px;
	padding-bottom: 10px;
}

.about_l img {
	width: 100%;
}

.about1 p {
	line-height: 26px;
	font-size: 16px;
	text-indent: 2em;
}

#case .goodsx .layui-tab-item {
	padding-top: 20px;
}

.about .detail4 {
	background: url(../images/ys_bg.jpg) no-repeat center;
	background-size: cover;
	padding: 10px 0;
	padding-bottom: 60px;
}

.about .main-title {
	margin-top: 30px;
}

.about2 {
	padding-bottom: 80px;
}

.about2 .wh_list{ padding: 0 20px;}

.about3 .layui-tab-item {
	padding-top: 20px;
}

.about4 .title_hot {
	margin-bottom: 10px;
}

.goods_tit {
	float: left;
	width: 18%;
	padding-right: 2%;
	margin-top: 6px;
}

.goods_tit h3 {
	display: block;
	border-top: 3px solid #297ec2;
	padding: 0 10px;
	background-image: linear-gradient(#eeeeee, #f4f4f4);
	height: 180px;
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
}

.goods_tit strong {
	color: #999;
	font-size: 14px;
	font-weight: normal;
	display: block;
	padding-top: 10px;
}

#case .goodsx_main .page_nav {
	padding: 10px 0;
	padding-bottom: 0;
}

.goodsx_main .page_nav a {
	display: block;
	padding: 0 35px;
}

#case .goodsx_main .page_nav span {
	height: 46px;
	line-height: 46px;
	border-radius: 46px;
	background-color: #e5e5e5;
	color: #666;
	font-size: 16px;
	float: left;
	padding: 0;
}

#case .goodsx_main .page_nav .active a {
	color: #fff;
	display: block;
	background-color: #297ec2;
	border-radius: 46px;
}

.nav_float {
	float: left;
	position: relative;
	margin: 8px;
	margin-bottom: 0px;
	cursor: pointer;
}

.case_nav {
	height: 46px;
	padding: 0 25px;
	line-height: 46px;
	border-radius: 46px;
	background-color: #e5e5e5;
	color: #666;
	font-size: 16px;
	float: left;
}

.case_nav.active {
	background-color: #297ec2;
}

.case_nav.active a {
	color: #fff;
}

.case_nav.active i {
	color: #fff;
}

.case_nav i {
	margin-left: 10px;
}

.case_nav_list {
	width: 180px;
	position: absolute;
	z-index: 2;
	background-color: #e2e5e8;
	margin-top: -10px;
	display: none;
	top: 60px;
	border-radius: 10px;
}

.case_nav_list li {
	padding: 0;
	border-bottom: 1px dotted #cecece;
}

.case_nav_list li:last-child {
	border-bottom: none;
}

.case_nav_list li a {
	display: block;
	padding: 10px 20px;
}

.case_nav_list li a:hover {
	background-color: #eef0f2;
	color: #297ec2;
}

.tit_h {
	float: left;
	font-size: 20px;
	padding-left: 20px;
	line-height: 42px;
}

.nav_float_list {
	padding: 10px 0;
	padding-top: 16px;
	margin: 0 -8px;
	padding-bottom: 25px;
}

#container {
	width: 94%;
	height: 297px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

#container ul {
	list-style: none;
	position: absolute;
	width: 10000px;
	overflow: hidden;
}

#container ul li {
	width: 210px;
	float: left;
	margin-right: 10px;
	height: 297px;
}

#container img {
	width: 100%;
	width: 210px;
	height: 297px;
}

#container ul li h3 {
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	font-family: "微软雅黑";
	display: block;
	padding-top: 6px;
}

.title_jj {
	margin: 10px auto;
}

.index_nav {
	position: relative;
}

.layui-tab-title .layui-this .index_nav a {
	float: left;
	color: #fff;
	margin-right: 2px;
}

.layui-tab-title .index_nav a {
	float: left !important;
	margin-right: 2px !important;
}

.layui-tab .case_nav_list {
	width: 150px;
	left: 0;
	text-align: left;
	border-radius: 10px;
	top: 52px;
}

.layui-tab .case_nav_list a:last-child {
	border-bottom: none;
}

.layui-tab .case_nav_list a {
	display: block;
	padding: 0 20px;
	margin: 0;
	border-bottom: 1px dotted #cecece;
	font-size: 14px;
	f
}

.layui-tab .case_nav_list a:hover {
	background-color: #eef0f2;
	color: #297ec2;
}

#newPage {
	padding-right: 0;
	margin-top: 0px;
}

#newPage ul {
	float: right
}

#newPage span {
	float: left;
	display: block;
	line-height: 28px;
	padding-right: 6px;
	color: #666
}

#newPage li {
	float: left;
}

#newPage li a {
	display: block;
	border: 1px solid #d1dbe5;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	margin-left: 6px
}

#newPage .page_active a {
	border: 1px solid #297ec2;
	background-color: #297ec2;
	color: #fff;
	cursor: default;
}

#newPage .noclick a {
	border-color: #eee!important;
	background-color: #FBFBFB!important;
	color: #d2d2d2!important;
	cursor: not-allowed!important;
	opacity: 1;
}

.video li div {
	position: relative;
}

.video .layui-icon {
	font-size: 50px;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
}

.goodsx_main .case_list {
	margin-bottom: 10px;
	margin-top: 10px;
}

#news .tag {
	margin-top: 95px;
	padding-bottom: 20px;
}

#news .tag1 {
	padding-bottom: 10px;
}

.tag .news_list_text {
	margin-left: 0;
	width: 75%;
	padding-left: 10px;
}

.tag1 {
	padding: 20px;
}

.tag1 .case_list {
	padding-bottom: 20px;
}

.tag1 .case_list li {
	padding-bottom: 10px;
}

.tag1 .case_list li a {
	border: none;
	padding: 0;
}
.dplayer{width:80%;margin:0 auto;}
.words{ display: none;}
.error{height: 400px; width: 700px;  top: 50%; margin-top: -200px; position: absolute;margin-left: -350px; left: 50%;background:url(../images/error.png) right center no-repeat;} 
.error div{ width: 400px;text-align: center; }
.error h1{ color: #000; font-size: 100px; padding-top: 80px; display: block;}
.error p{ display: block; font-size: 18px; color: #999; padding-top: 10px;}
.error a{ width: 130px; height: 40px; border-radius: 50px; border: 1px solid #ddd; line-height: 40px; font-size: 16px; display: block; margin: 0 auto; margin-top: 30px;}
#dituContent{ width:600px; height:400px; float:right}
.fwan{background: #f7f7f7; padding-top: 20px; margin-top: 20px; padding-bottom: 60px;}
@media (max-width: 1500px) {
#dituContent{ width:800px;}
}
@media (max-width: 1300px) {
	.nav ul li {
		padding: 15px 5px;
	}
	#dituContent{ width:400px; height:300px}
}


/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (max-width: 1200px) {
	.newsx_main .news_list_text {
		width: 60%;
	}
	.tag .news_list_text {
		width: 75%;
	}
	.nav .kftel {
		display: none;
	}
	#case,
	#goods,
	#news,
	#contact,
	#about {
		margin-top: 140px;
	}
	
}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (max-width: 992px) {
	.jstext ul li {
		width: 33.333%;
		padding-bottom: 20px;
	}
	.main-title img {
		height: 60px;
	}
	.ys_list li {
		width: 33.333%;
	}
	.newsx_main .news_list_img {
		width: 25%;
	}
	.newsx_main .news_list_text {
		width: 45%;
	}
	.detail1_3_r {
		margin: 20px;
		padding-right: 30px;
	}
	.tag .news_list_text {
		width: 70%;
	}
	#case,
	#goods,
	#news,
	#contact,
	#about {
		margin-top: 140px;
	}
	#dituContent{ width:300px; height 200px}
}


/* 小屏幕（平板，大于等于 768px） */

@media (max-width: 768px) {
	.newsx_main .news_list_img,
	.newsx_main .news_list_text {
		width: 100%;
		padding-left: 0;
		float: none;
		padding-bottom: 10px;
	}
	.article div {
		width: 100%;
		float: none;
		padding-bottom: 10px;
	}
	.newsx_main .news_list_img {
		width: 100%;
	}
	.newsx_main .news_list_text {
		width: 80%;
	}
	.newsx_main .news_list_data {
		top: auto;
		bottom: 30px;
	}
	.navimg {
		display: none;
	}
	.navul {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.nav {
		position: inherit;
	}
	#case,
	#goods,
	#news,
	#contact,
	#about {
		margin-top: 10px;
	}
	.banner {
		margin-top: 0;
	}
	.words{ display: block; font-size: 30px; padding-bottom: 20px;}
	.about4 .words { padding-left: 20px; padding-top: 20px;}
	.about2 .words{ padding:20px 30px ;}
	.main-title{ display: none;}
	.main_project h4{ text-align: left;}
	.main_wh .words ,.main_ys .words{ color: #fff; padding-top: 20px;}
	.main_wh h2{ text-align: left;}
	.ys_p{ text-align: left; padding: 0;}
	.layui-tab-title{ margin-top: 0;}
	.wh_list{ padding-bottom: 0;}
	.wh_list li {
	  float: left; 
	  width: 50%;
	}
	.error{ width: 90%; margin-left: -45%; background: none;}
	.ys_list li {
		width: 50%;
	}
	.wh_tnt a {
	width: 150px;
	height: 150px;
}

.wh_tnt div {
	height: 149px;
	width: 149px;
}

.wh_tnt h3 {
	line-height: 150px;
	width: 150px;
}
.main_news_img{ padding-right: 0;}
.footer_l,.footer_link{ display: none;}
.container{ margin: 0 5%;}
#footer .container{ display: none;}
#footer{ min-height: auto;}
.kf{ top: 100px; z-index: 111;}
.ys_list li .ys_tnt span{ display: none;}
}


.wh_tnt .imgWidth{ height: 200px; width: 200px; line-height:200px ;    margin: 0 auto;}
.wh_tnt .imgWidth1{height: 140px; width: 140px; line-height:140px ;    margin: 0 auto;}
.wh_tnt .imgWidth2{height: 160px; width: 160px; line-height:160px ;    margin: 0 auto;}
.wh_tnt .imgWidth3{height: 100px; width: 100px; line-height:100px ;    margin: 0 auto;}

