<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuwanchi.seo.mapper.BannerMapper">

    <select id="selectBannerDtoById" resultType="com.qiuwanchi.seo.dto.BannerDto">
        SELECT
            b.id,
            b.name,
            b.alt,
            b.click_url AS clickUrl,
            b.attachment_id AS attachmentId,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM banner b JOIN system_attachment a ON b.attachment_id=a.id
        WHERE b.id=#{bannerId}
    </select>

</mapper>