<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuwanchi.seo.mapper.ModuleMapper">

    <select id="getModuleList" resultType="com.qiuwanchi.seo.dto.ModuleDto">
        SELECT
        m.id,
        m.number,
        m.name,
        m.describe_msg AS describeMsg,
        m.attachment_id AS attachmentId,
        m.sort,
        m.title,
        m.keywords,
        m.description,
        m.alt,
        m.code,
        m.banner_id AS bannerId,
        m.click_url AS clickUrl,
        m.create_by AS createBy,
        m.create_time AS createTime,
        m.update_by AS updateBy,
        m.update_time AS updateTime,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM module m LEFT JOIN system_attachment a ON m.attachment_id=a.id WHERE m.belong=#{belong}
        <if test="homePageDisplay != null">
            and m.home_page_display=#{homePageDisplay}
        </if>

        ORDER BY m.sort
    </select>

    <select id="selectByModuleId" resultType="com.qiuwanchi.seo.dto.ModuleDto">
        SELECT
        m.id,
        m.number,
        m.name,
        m.describe_msg AS describeMsg,
        m.attachment_id AS attachmentId,
        m.sort,
        m.title,
        m.keywords,
        m.description,
        m.alt,
        m.code,
        m.banner_id AS bannerId,
        m.click_url AS clickUrl,
        m.create_by AS createBy,
        m.create_time AS createTime,
        m.update_by AS updateBy,
        m.update_time AS updateTime,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM module m LEFT JOIN system_attachment a ON m.attachment_id=a.id WHERE m.id=#{moduleId}
    </select>

</mapper>