<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuwanchi.seo.mapper.ProjectMapper">

    <select id="getProjectListByModuleId" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            m.code AS moduleCode,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.module_id=#{moduleId}
        ORDER BY b.sort
    </select>

    <select id="getProjectListByModuleIds" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            m.code AS moduleCode,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.module_id in
        <foreach item="item" index="index" collection="moduleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getProjectPageListByModuleId" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        m.code AS moduleCode,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        m.code AS moduleCode,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.module_id=#{moduleId}
        ORDER BY b.${orderBy}  ${absOrDesc}
    </select>


    <select id="recommend" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        m.code AS moduleCode,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM project b JOIN module m ON b.module_id=m.id AND m.belong=#{category} LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE  b.id !=#{projectId} AND
        (
        1=0
        <foreach item="item" index="index" collection="keywordsList" open="" separator=" " close="">
            OR b.keywords LIKE "%${item}%"
        </foreach>

        )
        ORDER BY RAND()
        LIMIT 6
    </select>

    <select id="selectByNumber" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        m.code AS moduleCode,
        m.name AS moduleName,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.number=#{number}
    </select>

    <select id="getPreProject" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        m.code AS moduleCode,
        m.name AS moduleName,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE b.module_id=#{moduleId}
        AND b.id !=#{currentProjectId}
        AND b.sort  <![CDATA[ <= ]]> #{sort}
        ORDER BY b.sort DESC limit 1
    </select>

    <select id="getNextProject" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        m.code AS moduleCode,
        m.name AS moduleName,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM project b LEFT JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE b.module_id=#{moduleId}
        AND b.id !=#{currentProjectId}
        AND b.sort  <![CDATA[ >= ]]> #{sort}
        ORDER BY b.sort  limit 1
    </select>


    <select id="getHotAnswer" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        m.code AS moduleCode,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime
        FROM project b JOIN module m ON b.module_id=m.id AND m.belong='hotAnswer'
        WHERE  m.code !=#{moduleCode}
        ORDER BY b.update_time desc
        LIMIT 6
    </select>

    <select id="selectTopProjectListGroupByModuleId" resultType="com.qiuwanchi.seo.dto.ProjectDto">

        <foreach item="item" index="index" collection="moduleIds" open="" separator="" close="">
            <if test="index !=0" >
                UNION ALL
            </if>
            SELECT * FROM(
            SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
            FROM project b LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.module_id = #{item}
            <if test="homePageDisplay !=null" >
                AND b.home_page_display=#{homePageDisplay}
            </if>
            ORDER BY b.sort

            <if test="pageSize !=null" >
                limit  #{pageSize}
            </if>

            ) t${index}
        </foreach>
    </select>

    <select id="selectNewsTopProjectListGroupByModuleId" resultType="com.qiuwanchi.seo.dto.ProjectDto">

        <foreach item="item" index="index" collection="moduleIds" open="" separator="" close="">
            <if test="index !=0" >
                UNION ALL
            </if>
            SELECT * FROM(
            SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
            FROM project b LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.module_id = #{item}
            <if test="homePageDisplay !=null" >
                AND b.home_page_display=#{homePageDisplay}
            </if>
            ORDER BY b.update_time DESC

            <if test="pageSize !=null" >
                limit  #{pageSize}
            </if>

            ) t${index}
        </foreach>
    </select>


    <select id="getSolutionCaseList" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            m.code AS moduleCode,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
            FROM project b JOIN module m ON b.module_id=m.id AND m.belong='SolutionCase'
            LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE  1=1
        <if test="homePageDisplay !=null" >
            AND b.home_page_display=#{homePageDisplay}
        </if>
        ORDER BY b.sort
        LIMIT #{pageSize}
    </select>


    <select id="getRecommendNewsFqaProjectList" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        m.code AS moduleCode,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime
        FROM project b JOIN module m ON b.module_id=m.id AND m.belong='News'
        WHERE  m.code=#{firstCategory} AND
        (

        1=0
        <foreach item="item" index="index" collection="keywordsList" open="" separator=" " close="">
            OR b.keywords LIKE "%${item}%"
        </foreach>

        )
        ORDER BY b.create_time desc
        LIMIT 6
    </select>


    <select id="getRecentUpdatesNewsProjectList" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.module_id AS moduleId,
        b.attachment_id AS attachmentId,
        b.seo_image_id AS seoImageId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.content,
        b.code,
        b.banner_id AS bannerId,
        m.code AS moduleCode,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime
        FROM project b JOIN module m ON b.module_id=m.id
        WHERE m.belong='News'
        ORDER BY b.update_time desc
        LIMIT 6
    </select>



    <select id="newsSearch" resultType="com.qiuwanchi.seo.dto.ProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.module_id AS moduleId,
            b.attachment_id AS attachmentId,
            b.seo_image_id AS seoImageId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.code,
            b.banner_id AS bannerId,
            m.code AS moduleCode,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM project b JOIN module m ON b.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE m.belong='News'
        ORDER BY b.update_time desc
    </select>

</mapper>