<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuwanchi.seo.mapper.SubProjectMapper">

    <select id="getProjectListByProjectId" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.project_id AS projectId,
            b.attachment_id AS attachmentId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.content,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM sub_project b LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id=#{projectId}
        ORDER BY b.sort
    </select>

    <select id="getProjectListByProjectIds" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
            b.id,
            b.number,
            b.name,
            b.describe_msg AS describeMsg,
            b.project_id AS projectId,
            b.attachment_id AS attachmentId,
            b.sort,
            b.title,
            b.keywords,
            b.description,
            b.alt,
            b.click_url AS clickUrl,
            b.create_by AS createBy,
            b.create_time AS createTime,
            b.update_by AS updateBy,
            b.update_time AS updateTime,
            a.filename AS fileName,
            a.filesize AS fileSize,
            a.filetype AS fileType,
            a.filepath AS filePath,
            a.file_id AS fileId
        FROM sub_project b LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id in
        <foreach item="item" index="index" collection="moduleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getProjectPageListByProjectId" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id=#{projectId}
        ORDER BY b.sort
    </select>

    <!-- 推荐 -->
    <select id="recommend" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id
        LEFT JOIN module m ON p.module_id=m.id AND m.belong='ServiceCase'
        WHERE  b.id !=#{subProjectId} AND
        (
        1=0
        <foreach item="item" index="index" collection="keywordsList" open="" separator=" " close="">
            OR b.keywords LIKE "%${item}%"
        </foreach>

        )
        ORDER BY b.create_time desc
        LIMIT 6
    </select>


    <select id="selectPageAll" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id IN (
            SELECT p.id FROM project p JOIN module m ON m.id=p.module_id WHERE m.belong='ServiceCase'
        )
        ORDER BY b.update_time DESC
    </select>

    <select id="selectPageByFirstCategory" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id IN (
            SELECT p.id FROM project p JOIN module m ON m.id=p.module_id WHERE m.belong='ServiceCase' AND m.code=#{firstCategory}
        )
        ORDER BY b.update_time DESC
    </select>

    <select id="selectPageBySecondCategory" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.project_id IN (
        SELECT p.id FROM project p JOIN module m ON m.id=p.module_id WHERE m.belong='ServiceCase' AND m.code=#{firstCategory} AND p.code=#{secondCategory}
        )
        ORDER BY b.update_time DESC
    </select>


    <select id="selectByNumber" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.content,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id WHERE b.number=${number}
        ORDER BY b.update_time DESC
    </select>

    <select id="getPreSubProject" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE b.project_id=#{projectId}
        AND b.id !=#{currentSubProjectId}
        AND b.sort  <![CDATA[ <= ]]> #{sort}
        ORDER BY b.sort DESC limit 1
    </select>

    <select id="getNextSubProject" resultType="com.qiuwanchi.seo.dto.SubProjectDto">
        SELECT
        b.id,
        b.number,
        b.name,
        b.describe_msg AS describeMsg,
        b.project_id AS projectId,
        b.attachment_id AS attachmentId,
        b.sort,
        b.title,
        b.keywords,
        b.description,
        b.alt,
        b.click_url AS clickUrl,
        b.create_by AS createBy,
        b.create_time AS createTime,
        b.update_by AS updateBy,
        b.update_time AS updateTime,
        p.code AS secondCategory,
        m.code AS firstCategory,
        a.filename AS fileName,
        a.filesize AS fileSize,
        a.filetype AS fileType,
        a.filepath AS filePath,
        a.file_id AS fileId
        FROM sub_project b LEFT JOIN project p ON b.project_id=p.id LEFT JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
        WHERE b.project_id=#{projectId}
        AND b.id !=#{currentSubProjectId}
        AND b.sort <![CDATA[ >= ]]> #{sort}
        ORDER BY b.sort limit 1
    </select>


    <select id="getSubProjectListByModuleIds" resultType="com.qiuwanchi.seo.dto.SubProjectDto">

        <foreach item="item" index="index" collection="moduleIds" open="" separator="" close="">
        <if test="index !=0" >
            UNION ALL
        </if>
            SELECT * FROM (
            SELECT
                b.id,
                b.number,
                b.name,
                b.describe_msg AS describeMsg,
                b.project_id AS projectId,
                b.attachment_id AS attachmentId,
                b.sort,
                b.title,
                b.keywords,
                b.description,
                b.alt,
                b.click_url AS clickUrl,
                b.create_by AS createBy,
                b.create_time AS createTime,
                b.update_by AS updateBy,
                b.update_time AS updateTime,
                p.code AS secondCategory,
                m.code AS firstCategory,
                a.filename AS fileName,
                a.filesize AS fileSize,
                a.filetype AS fileType,
                a.filepath AS filePath,
                a.file_id AS fileId,
                m.id AS moduleId
                FROM sub_project b JOIN project p ON b.project_id=p.id JOIN module m ON p.module_id=m.id LEFT JOIN system_attachment a ON b.attachment_id=a.id
                WHERE m.id=#{item}
                ORDER BY b.sort limit #{pageSize}
            ) t${index}
        </foreach>
    </select>
</mapper>